body {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #533c19;
    background:linear-gradient(to top, #533c19 5%, #6e573d 100%);
    padding: 15px;
    border-radius: 15px;
}

.calculator {
    display: grid;
    width: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}



.screen {
    display: flex;
    border-radius:15px;
	border:2px solid #333029;
    grid-column: span 3;
    padding: 5px;
    justify-content: right;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background:linear-gradient(to bottom, #c9bb93 5%, #ccc2a6 100%);
	background-color:#c9bb93;
    font-family:Arial;
	font-size:28px;
	font-weight:bold;
    color:#505739;
    text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

button {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #c9bb93 5%, #ccc2a6 100%);
	background-color:#c9bb93;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
button:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
button:active {
	position:relative;
	top:1px;
}

button[data-number],
._plusMinus,
._decimal {
    background-color: orange;
}

button[data-operator],
._fact {
    background-color: yellow;
}

._equals {
    background-color: greenyellow;
}

._clear, 
.backspace {
    background-color: red;
}